In [10]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import tensorflow as tf

# Import our input dataset
charity_data_df = pd.read_csv('charity_data.csv')
charity_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [11]:
# Drop Name collumn
charity_data_df = charity_data_df.drop(["NAME","EIN", "CLASSIFICATION", "APPLICATION_TYPE"], axis=1)
charity_data_df.head()

,AFFILIATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,Independent,ProductDev,Association,1,0,N,5000,1
1,Independent,Preservation,Co-operative,1,1-9999,N,108590,1
2,CompanySponsored,ProductDev,Association,1,0,N,5000,0
3,CompanySponsored,Preservation,Trust,1,10000-24999,N,6692,1
4,Independent,Heathcare,Trust,1,100000-499999,N,142590,1

In [12]:
# Generate our categorical variable list
charity_cat = charity_data_df.dtypes[charity_data_df.dtypes == "object"].index.tolist()
# Check the number of unique values in each column
charity_data_df[charity_cat].nunique()

AFFILIATION               6
USE_CASE                  5
ORGANIZATION              4
INCOME_AMT                9
SPECIAL_CONSIDERATIONS    2
dtype: int64

In [13]:
# Find null value
for column in charity_data_df.columns:
    print(f'Column {column} has {charity_data_df[column].isnull().sum()} null values')

Column AFFILIATION has 0 null values
Column USE_CASE has 0 null values
Column ORGANIZATION has 0 null values
Column STATUS has 0 null values
Column INCOME_AMT has 0 null values
Column SPECIAL_CONSIDERATIONS has 0 null values
Column ASK_AMT has 0 null values
Column IS_SUCCESSFUL has 0 null values

In [14]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(charity_data_df[charity_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(charity_cat)
encode_df.head()

,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,USE_CASE_CommunityServ,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [15]:
# Merge one-hot encoded features and drop the originals
charity_data_df = charity_data_df.merge(encode_df,left_index=True, right_index=True)
charity_data_df = charity_data_df.drop(charity_cat,1)
charity_data_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,USE_CASE_CommunityServ,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [16]:
# Remove loan status target from features data
y = charity_data_df.IS_SUCCESSFUL
X = charity_data_df.drop(columns=["IS_SUCCESSFUL"])

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [17]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest predictive accuracy: 0.675

In [18]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  24
hidden_nodes_layer2 = 24
hidden_nodes_layer3 = 24

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# 3rd hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/50
804/804 [==============================] - 0s 550us/step - loss: 0.6127 - accuracy: 0.6867
Epoch 2/50
804/804 [==============================] - 0s 522us/step - loss: 0.6010 - accuracy: 0.6972
Epoch 3/50
804/804 [==============================] - 0s 510us/step - loss: 0.6002 - accuracy: 0.6989
Epoch 4/50
804/804 [==============================] - 0s 511us/step - loss: 0.5990 - accuracy: 0.6998
Epoch 5/50
804/804 [==============================] - 0s 522us/step - loss: 0.5992 - accuracy: 0.6988
Epoch 6/50
804/804 [==============================] - 0s 537us/step - loss: 0.5985 - accuracy: 0.7012
Epoch 7/50
804/804 [==============================] - 0s 519us/step - loss: 0.5990 - accuracy: 0.6999
Epoch 8/50
804/804 [==============================] - 0s 516us/step - loss: 0.5983 - accuracy: 0.6999
Epoch 9/50
804/804 [==============================] - 0s 515us/step - loss: 0.5979 - accuracy: 0.7010
Epoch 10/50
804/804 [==============================] - 0s 516us/step - loss: 0.5981 - accuracy: 0.6999
Epoch 11/50
804/804 [==============================] - 0s 516us/step - loss: 0.5978 - accuracy: 0.7008
Epoch 12/50
804/804 [==============================] - 0s 517us/step - loss: 0.5978 - accuracy: 0.6999
Epoch 13/50
804/804 [==============================] - 0s 545us/step - loss: 0.5977 - accuracy: 0.7000
Epoch 14/50
804/804 [==============================] - 0s 514us/step - loss: 0.5973 - accuracy: 0.7013
Epoch 15/50
804/804 [==============================] - 0s 517us/step - loss: 0.5975 - accuracy: 0.7004
Epoch 16/50
804/804 [==============================] - 0s 520us/step - loss: 0.5973 - accuracy: 0.7002
Epoch 17/50
804/804 [==============================] - 0s 516us/step - loss: 0.5973 - accuracy: 0.7008
Epoch 18/50
804/804 [==============================] - 0s 520us/step - loss: 0.5972 - accuracy: 0.7015
Epoch 19/50
804/804 [==============================] - 0s 517us/step - loss: 0.5973 - accuracy: 0.7006
Epoch 20/50
804/804 [==============================] - 0s 538us/step - loss: 0.5969 - accuracy: 0.7015
Epoch 21/50
804/804 [==============================] - 0s 516us/step - loss: 0.5968 - accuracy: 0.6999
Epoch 22/50
804/804 [==============================] - 0s 517us/step - loss: 0.5968 - accuracy: 0.7011
Epoch 23/50
804/804 [==============================] - 0s 521us/step - loss: 0.5970 - accuracy: 0.7018
Epoch 24/50
804/804 [==============================] - 0s 517us/step - loss: 0.5969 - accuracy: 0.7016
Epoch 25/50
804/804 [==============================] - 0s 502us/step - loss: 0.5967 - accuracy: 0.7010
Epoch 26/50
804/804 [==============================] - 0s 497us/step - loss: 0.5969 - accuracy: 0.7019
Epoch 27/50
804/804 [==============================] - 0s 478us/step - loss: 0.5967 - accuracy: 0.7004
Epoch 28/50
804/804 [==============================] - 0s 475us/step - loss: 0.5965 - accuracy: 0.7013
Epoch 29/50
804/804 [==============================] - 0s 478us/step - loss: 0.5965 - accuracy: 0.7009
Epoch 30/50
804/804 [==============================] - 0s 474us/step - loss: 0.5965 - accuracy: 0.7013
Epoch 31/50
804/804 [==============================] - 0s 475us/step - loss: 0.5964 - accuracy: 0.7012
Epoch 32/50
804/804 [==============================] - 0s 539us/step - loss: 0.5964 - accuracy: 0.7005
Epoch 33/50
804/804 [==============================] - 0s 577us/step - loss: 0.5968 - accuracy: 0.7009
Epoch 34/50
804/804 [==============================] - 0s 604us/step - loss: 0.5962 - accuracy: 0.7024
Epoch 35/50
804/804 [==============================] - 0s 484us/step - loss: 0.5963 - accuracy: 0.7014
Epoch 36/50
804/804 [==============================] - 0s 492us/step - loss: 0.5966 - accuracy: 0.7018
Epoch 37/50
804/804 [==============================] - 0s 510us/step - loss: 0.5964 - accuracy: 0.7011
Epoch 38/50
804/804 [==============================] - 0s 486us/step - loss: 0.5962 - accuracy: 0.7020
Epoch 39/50
804/804 [==============================] - 0s 484us/step - loss: 0.5966 - accuracy: 0.7020
Epoch 40/50
804/804 [==============================] - 0s 522us/step - loss: 0.5963 - accuracy: 0.7020
Epoch 41/50
804/804 [==============================] - 0s 502us/step - loss: 0.5961 - accuracy: 0.7017
Epoch 42/50
804/804 [==============================] - 0s 490us/step - loss: 0.5961 - accuracy: 0.7012
Epoch 43/50
804/804 [==============================] - 0s 494us/step - loss: 0.5962 - accuracy: 0.7024
Epoch 44/50
804/804 [==============================] - 0s 480us/step - loss: 0.5962 - accuracy: 0.7015
Epoch 45/50
804/804 [==============================] - 0s 483us/step - loss: 0.5957 - accuracy: 0.7011
Epoch 46/50
804/804 [==============================] - 0s 481us/step - loss: 0.5961 - accuracy: 0.7022
Epoch 47/50
804/804 [==============================] - 0s 484us/step - loss: 0.5957 - accuracy: 0.7019
Epoch 48/50
804/804 [==============================] - 0s 489us/step - loss: 0.5958 - accuracy: 0.7023
Epoch 49/50
804/804 [==============================] - 0s 568us/step - loss: 0.5959 - accuracy: 0.7012
Epoch 50/50
804/804 [==============================] - 1s 712us/step - loss: 0.5956 - accuracy: 0.7018
268/268 - 0s - loss: 0.6042 - accuracy: 0.6960
Loss: 0.6042224764823914, Accuracy: 0.6959766745567322